html {
	font-size: 16px;
}
.page-container {
	margin-top: 100px;
}

.search-title {
	font-size: 32px;
	font-family: SourceHanSansCN, SourceHanSansCN-Heavy;
	font-weight: 800;
	text-align: left;
	color: #ffffff;
	text-align: center;
	margin-bottom: 30px;
}

.opacity0 {
	opacity: 0;
}

/* 盒子布局框架 */

.flex_grow1 {
	flex-grow: 1;
}
.flex_grow_2 {
	flex-grow: 2;
}
.flex_grow_3 {
	flex-grow: 3;
}

.flex_wrap_wrap {
	flex-wrap: wrap;
}

.contain_full {
	width: 100%;
	height: 100%;
}

.contain_full_calc {
	width: 100%;
	height: 100%;
	height: calc(100vh);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.common_space_two_no_center {
	display: flex;
	justify-content: space-between;
}
.common_space_two {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.common_space_two_p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center_v {
	display: flex;
	align-items: center;
}

.shadow {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.23);
	border-radius: 5px;
	background-color: #ffffff;
}

.common_shadow_grey {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hollow_grey_ededed_4r {
	border-radius: 4px;
	border: 1px solid #ededed;
}
.hollow_main_4r {
	border-radius: 4px;
	border: 1px solid #3abbff;
}

.hollow_main_5r {
	border-radius: 5px;
	border: 1px solid #3abbff;
}

/* 头像 */
.mine_avatar {
	width: 62px;
	height: 62px;
	border-radius: 31px;
}

.box-sizing-border-box {
	box-sizing: border-box;
}

/* 相对布局 */
.top_0px {
	top: 0px;
}
.top_b50 {
	top: 50%;
}
.top_login_line {
	top: 120px;
}
.left_0px {
	left: 0px;
}
.right_30px {
	right: 30px;
}
.right_0px {
	right: 0px;
}
.bottom_0px {
	bottom: 0px;
}
.bottom_30px {
	bottom: 30px;
}
.postion_absolute_center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.position_fixed {
	position: fixed;
}

.width_700px {
	width: 700px;
}
.width_b100 {
	width: 100%;
}
.width_b70 {
	width: 70%;
}
.width_b60 {
	width: 60%;
}
.width_b50 {
	width: 50%;
}
.width_b40 {
	width: 40%;
}
.width_1px {
	width: 1px;
}
.width_50px {
	width: 50px;
}

.width_auto {
	width: auto;
}

.height_cale_50 {
	height: calc(100vh - 50px);
}
.height_b100 {
	height: 100%;
}
.height_50px {
	height: 50px;
}
.height_75px {
	height: 75px;
}
.height_common_input {
	height: 40px;
}
.height_common_item {
	height: 45px;
}
.height_1px {
	height: 1px;
}
.flexH {
	display: flex;
	align-items: center;
}
.flex_h_end {
	display: flex;
	justify-content: flex-end;
}
.flex_end {
	justify-content: flex-end;
}
.flexV {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex_v_no_center {
	display: flex;
	flex-direction: column;
}
.flex_h_no_center {
	display: flex;
}
.border_radius1 {
	border-radius: 1px;
}
.border_radius2 {
	border-radius: 2px;
}
.border_radius4 {
	border-radius: 4px;
}
.border_radius5 {
	border-radius: 5px;
}
.border_radius10 {
	border-radius: 10px;
}
.border_radius15 {
	border-radius: 15px;
}
.border_radius_b50 {
	border-radius: 50%;
}
.sold_e4e4e4 {
	border: 1px solid #e4e4e4;
}
.sold_1px_main {
	border: 1px solid #e0cd9b;
}
.sold_1px_red {
	border: 1px solid #dc3545;
}
.sold_5r_1px_e4e4e4 {
	border: 1px solid #e4e4e4;
	border-radius: 5px;
}
.background_color_bg {
	background-color: #f4f4f4;
}
.background_color_grey_line {
	background-color: #ececec;
}
.background_color_main {
	background-color: #e0cd9b;
}
.background_color_white {
	background-color: #ffffff;
}
.margin_top_line {
	margin-top: 190px;
}
.margin_top_80 {
	margin-top: 80px;
}
.margin_top_60 {
	margin-top: 60px;
}
.margin_top_50 {
	margin-top: 50px;
}
.margin_top_35 {
	margin-top: 25px;
}
.margin_top_30 {
	margin-top: 30px;
}
.margin_top_25 {
	margin-top: 25px;
}
.margin_top_20 {
	margin-top: 20px;
}
.margin_top_15 {
	margin-top: 15px;
}
.margin_top_10 {
	margin-top: 10px;
}
.margin_top_5 {
	margin-top: 5px;
}
.margin_top_1 {
	margin-top: 1px;
}
.margin_bottom_60 {
	margin-top: 60px;
}
.margin_bottom_20 {
	margin-top: 20px;
}
.margin_left_5 {
	margin-left: 5px;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_left_15 {
	margin-left: 15px;
}
.margin_left_20 {
	margin-left: 20px;
}
.margin_left_25 {
	margin-left: 25px;
}
.margin_right_5 {
	margin-right: 5px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_right_15 {
	margin-right: 15px;
}
.margin_right_20 {
	margin-right: 20px;
}
.padding_v30_h45 {
	padding: 20px 25px 20px 25px;
}
.padding_v15_h10 {
	padding: 15px 10px 15px 10px;
}
.padding_v10_h15 {
	padding: 10px 15px 10px 15px;
}
.padding_v5_h10 {
	padding: 5px 10px 5px 10px;
}
.padding_v2_h10 {
	padding: 2px 10px 2px 10px;
}
.padding_v4_h10 {
	padding: 4px 10px 4px 10px;
}
.padding_top_20 {
	padding-top: 20px;
}
.padding_top_15 {
	padding-top: 15px;
}
.padding_top_10 {
	padding-top: 10px;
}
.padding_top_5 {
	padding-top: 5px;
}
.padding_bottom_20 {
	padding-bottom: 20px;
}
.padding_bottom_15 {
	padding-bottom: 15px;
}
.padding_bottom_10 {
	padding-bottom: 10px;
}
.padding_bottom_5 {
	padding-bottom: 5px;
}
.padding_left_50 {
	padding-left: 50px;
}
.padding_left_25 {
	padding-left: 25px;
}
.padding_left_20 {
	padding-left: 20px;
}
.padding_left_15 {
	padding-left: 15px;
}
.padding_left_10 {
	padding-left: 10px;
}
.padding_left_5 {
	padding-left: 5px;
}
.padding_right_50 {
	padding-right: 50px;
}
.padding_right_25 {
	padding-right: 25px;
}
.padding_right_20 {
	padding-right: 20px;
}
.padding_right_15 {
	padding-right: 15px;
}
.padding_right_10 {
	padding-right: 10px;
}
.padding_right_5 {
	padding-right: 5px;
}
.padding45 {
	padding: 45px;
}
.padding20 {
	padding: 20px;
}
.padding15 {
	padding: 15px;
}
.padding10 {
	padding: 10px;
}
.padding2 {
	padding: 2px;
}
.padding_h_5 {
	padding: 0px 5px;
}
.padding_h_10 {
	padding: 0px 10px;
}
.padding_h_20 {
	padding: 0px 20px;
}
.padding_h_15 {
	padding: 0px 15px;
}
.padding_v_5 {
	padding: 5px 0px;
}
.padding_v_2 {
	padding: 2px 0px;
}
.padding_v_7 {
	padding: 7px 0px;
}
.padding_v_10 {
	padding: 10px 0px;
}
.padding_v_15 {
	padding: 15px 0px;
}
.padding_top10 {
	padding-top: 10px;
}
.padding_top50 {
	padding-top: 50px;
}
/* 文本 */
.tv_45_black {
	color: #000000;
	font-size: 45px;
}
.tv_14_black {
	color: #000000;
	font-size: 14px;
}

.tv_color_black {
	color: #000000;
}
.tv_color_red {
	color: #dc3545;
}
.tv_color_error {
	color: #dc3545;
}

.tv_color_282828 {
	color: #282828;
}
.tv_color_grey_7e7e7e {
	color: #7e7e7e;
}
.tv_color_grey_a6a6a6 {
	color: #a6a6a6;
}
.tv_color_grey_929292 {
	color: #929292;
}
.tv_color_grey_ececec {
	color: #ececec;
}
.tv_color_grey_8d8d8d {
	color: #8d8d8d;
}
.tv_color_grey_626262 {
	color: #626262;
}
.tv_color_grey_B7B7B7 {
	color: #b7b7b7;
}
.tv_color_white {
	color: #ffffff;
}
.tv_color_main {
	color: #e0cd9b;
}
.tv_1_5_rem {
	font-size: 1.5rem;
}
.tv45 {
	font-size: 45px;
}
.tv35 {
	font-size: 35px;
}
.tv30 {
	font-size: 30px;
}
.tv25 {
	font-size: 25px;
}
.tv20 {
	font-size: 20px;
}
.tv18 {
	font-size: 18px;
}
.tv16 {
	font-size: 16px;
}
.tv15 {
	font-size: 15px;
}
.tv14 {
	font-size: 14px;
}
.tv12 {
	font-size: 12px;
}
.tv10 {
	font-size: 10px;
}
.tv11 {
	font-size: 11px;
}
.text_align_center {
	text-align: center;
}
.text_align_right {
	text-align: right;
}
.text_align_top {
	text-align: start;
}
.text_overflow_ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.text_font_weight_500 {
	font-weight: 500;
}
.text_indent_2em {
	text-indent: 2em;
}
.text_decoration_underline {
	text-decoration: underline;
}
.cursor {
	cursor: pointer;
}
.common_white_grey_active:active {
	background-color: #f1f1f1;
}
.main_button_active:active {
	background-color: #dfc37a;
}
.whtest {
	width: 300px;
	height: 300px;
}
.common_line_h_grey {
	width: 100%;
	height: 1px;
	background-color: #f3f3f3;
}
.pre_line {
	white-space: pre-line;
}
.modal-header-c {
	padding: 1rem 1rem 1rem 1rem;
}
